@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
}

#header {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #349643;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}

.header-content-div {
  max-width: 95rem;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo-text {
  color: white;
  font-size: 3rem;
  text-align: start;
  text-decoration: none;
  margin-left: 6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.5rem;
  padding: 0 0.6rem;
  transition: border-bottom 0.2s;
}
.nav-link:hover {
  color: #fb9105;
  border-bottom: 2px solid #6f9634;
}
.nav-link:active {
  color: #fb9105;
}
.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.home-sec {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  text-align: start;
  min-height: 60rem;
  height: auto;
  margin: 0 auto 5rem auto;
  justify-content: start;
  max-width: 115rem;
  gap: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
}

.eye-grabber {
  flex: 1;
  padding: 0 2rem;
}

.eye-grabber h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 600;
}
.eye-grabber h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #666;
}
.eye-grabber-img {
  flex: 1;
}

.eye-grabber-img img {
  max-width: 100%;
}
.btn {
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  background-color: #6f9634;
  color: #fafafa;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
}

.btn:hover {
  background-color: #6f9634;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.9);
}
.section-heading {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  padding: 4rem;
}
#services {
  scroll-margin-top: 8rem;
}
.sec-content-div {
  font-size: 2rem;
  text-align: start;
  padding: 0 2rem 5rem 2rem;
  padding: 0;
  width: auto;
  justify-content: space-around;
  max-width: 95rem;
  margin: 0 auto;
}
.sec-padding {
  padding: 0rem 0 10rem 0;
}
#about {
  background-color: #ffedae;
  scroll-margin-top: 7rem;
}
#about img {
  max-width: 100%;
  height: auto;
  background-color: #ffedae;
  border-radius: 0.5rem;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
section#plants {
  scroll-margin-top: 10rem;
}
#varieties {
  background-color: #ffedae;
}
.tile {
  background-color: #ffedae;
  width: 25rem;
  cursor: poi;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 1.5rem;
}

.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}
.tile h4 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #6f9634;
  margin: 0;
}
.tile p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#our-service {
  background-color: #fb9105;
}
.bars {
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 2rem;
  width: 100%;
  border: 2px solid black;
  box-shadow: 0 3px 10px black;
  border-radius: 5rem;
  overflow: hidden;
}
.line {
  min-width: 4px;
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
}
.bars .icon-container {
  max-width: 20rem;
  margin: auto;
  flex: 1;
}
.icon-container img {
  max-height: 100%;
  max-width: 100%;
}
.bars .txt-container {
  flex: 2;
  padding: 3rem;
}
.txt-container h5 {
  font-size: 4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.txt-container p {
  font-size: 2.3rem;
}
#benefits {
  background-color: #faaa00;
}
#benefits iframe {
  outline: 0;
  border: none;
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#contact {
  background-color: #fb9105;
  color: #fafafa;
}
#contact h6 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
}
/* input {
  border: none;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  outline: 0;
  font-size: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */

footer {
  font-size: 1.4rem;
  background-color: #6f9634;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fafafa;
}
footer a {
  color: #e3e3e3;
  text-decoration: none;
}

.form {
  max-width: 320px;
  width: 100%;
  font-size: 1.6rem;
  background: linear-gradient(15deg, rgb(30, 169, 30), rgb(6, 185, 6));
  padding: 40px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a202c;
}

.label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
}

.input {
  padding: 10px 3px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-size: 1.6rem;
}
body main input {
  font-size: 1.8rem;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid green;
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  background-color: #1a202c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* 
main {
  min-width: 90vw;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1), 0 10px 20px black;
  border-radius: 8px;
} */

.nav-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.nav-card {
  width: 50vw;
  height: 6rem;
  background: linear-gradient(65deg, rgb(1, 118, 118), green);
  border-radius: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: white;
  font-size: 3.4rem;
  border: 2px solid white;
  box-shadow: 0 0 3px 2px rgb(0, 0, 0);
  transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  &:hover {
    box-shadow: 0 0 0 0;
  }
}
